#login{
	width: 540px;
	position: absolute;
	top: 60px;
	left: 50%;
	margin-left: -270px;
	background-color: #fff;
	box-shadow: 0 3px 5px rgba(0,0,0,.3);
	border-radius: 3px;
	z-index:999;
}

#innerlogin{
	margin:2%;
}

#buttonlogin{
	margin:2%;
	background-color:#ee3223;
	border:none;
	color: white;
	font-weight: bold;
	padding:2%;
}

.tabel{
	width:50%;
	
}

/*h1{
	font-size: 18px;
}

.signup{
	background-color:#ee3223;
	border: none;
	font-size: 25px;
	color: white;
	padding: 4px;
	position: relative;
	float:center;
}

#allOfit{
	width: 100%;
	position:absolute;
}

#links{
	position:relative;
	float:left;
	border-right: 2px #ee3223 solid;
	padding: 4%;
}

#rechts{
	position:relative;
	float:right;
	padding: 4%;
	margin-right:8%;
}*/