body{
	background-color:white;
	font-family: sans-serif;
	margin-left:12%;
}

header{
	
}

nav{
	display: inline-block;
	margin-left:5%;
}

.hoofdlink{
	border: 3px solid #ee3223;
	border-radius: 50%;
	text-decoration: none;
	text-align:center;
	font-weight: bold;
	color: black;
	width:100px;
	height:100px;
	padding:30px;
}
